/* styles.css */

body {
  background-color: #fffaf0; /* Fondo marfil */
  color: #333; /* Texto en gris oscuro */
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0 20px;
}

h1, h2 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

h1 {
  font-size: 3em;
  color: #6a4e3c;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  color: #d4af37;
  margin-top: 0;
}

header {
  margin-bottom: 20px;
}

button {
  background-color: #d4af37;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #b38b2a;
}

section {
  max-width: 600px;
  margin: 0 auto 20px auto;
  text-align: center;
}
