body {
  background-color: #fffaf0; /* fondo hueso */
  color: #333;
  font-family: 'Lora', serif;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3.5em;
  color: #6a4e3c;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  color: #b4e197; /* verde manzana pastel */
  margin-top: 0;
}

h3 {
  color: #6a4e3c;
  font-size: 1.5em;
  margin-bottom: 10px;
}

section {
  background-color: #ffffff;
  border: 2px solid #b4e197;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

button {
  background-color: #b4e197;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #a0d57c;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-style: italic;
  color: #666;
}

audio {
  display: block;
  margin: 30px auto;
}
